{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <h1>{{ page.title }}</h1>
  <div class="intro">
    {{ page.intro|richtext }}
  </div>

  <div class="body">
    {% for block in page.body %}
      {% if block.block_type == 'virsraksts' %}
        <h2>{{ block.value }}</h2>
      {% elif block.block_type == 'teksts' %}
        {{ block.value|richtext }}
      {% elif block.block_type == 'attels' %}
        {% image block.value original %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
